@media (max-width: 957px) {
  .header nav {
    display: none;
  }
  .burger-menu {
    display: flex;
  }
}

@media (max-width: 1001px) {
  .main-text h1 {
    font-size: clamp(2rem, 1.705rem + 1.48vw, 2.813rem);
  }
}

@media (max-width: 625px) {
  .main-img {
    display: none;
  }
  .main-text {
    align-items: center;
  }
  .main-text button {
    width: 100%;
    justify-content: center;
  }
  .main-text .main-img {
    display: block;
  }
}

@media (max-width: 992px) {
  .trend-main .trend-card:last-child {
    display: none;
  }
  .creator-card {
    max-width: 330px;
    width: 100%;
    height: 100px;
    flex-direction: row;
  }
  .creator-main .creator-card:nth-child(12),
  .creator-main .creator-card:nth-child(11),
  .creator-main .creator-card:nth-child(10),
  .creator-main .creator-card:nth-child(9),
  .creator-main .creator-card:nth-child(8),
  .creator-main .creator-card:nth-child(7) {
    display: none;
  }
  .creator-card p {
    font-size: 12px;
  }
  .creator-card img {
    width: 60px;
    height: 60px;
  }
  .creator-card-title {
    text-align: left;
  }
  .creator-card-title h3 {
    font-size: 20px;
  }
  .creator-card-title p {
    font-size: 18px;
  }
}

@media (max-width: 745px) {
  .trend-title-img img,
  .trend-title-img h3 {
    max-width: 80px;
    height: 80px;
  }
  .trend-ava {
    width: 70px;
  }
  .creator-top button {
    padding: 12px 15px;
  }
}
@media (max-width: 640px) {
  .creator-top button {
    padding: 0;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-size: 11px;
  }
  .number {
    left: 49px;
    top: 19px;
  }
  .creator-main {
    justify-content: center;
  }
  .creator-card {
    width: 100%;
    max-width: 435px;
  }
}
@media (max-width: 498px) {
  .trend-main .trend-card:nth-child(2) {
    display: none;
  }
  .trend-main .trend-card {
    max-width: 330px;
    width: 100%;
  }
  .trend-card img {
    width: 100%;
  }
  .trend-title-img img,
  .trend-title-img h3 {
    max-width: 100px;
    height: 100px;
  }
  .trend-main {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 599px) {
  .creator-top button {
    display: none;
  }
  .creator-main {
    justify-content: center;
  }
  .creator-main .creator-card:nth-child(6){
    display: none;
  }
  .creator-card {
    width: 100%;
  }
  .view-rank {
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
  }
}

@media (max-width: 475px) {
  .number {
    left: 27px;
    top: 19px;
  }
}

@media (max-width: 769px) {
  .creator-main {
    justify-content: center;
  }
}
