@media (max-width: 957px) {
  .header nav {
    display: none;
  }
  .burger-menu {
    display: flex;
  }
}

@media (max-width: 1001px) {
  .main-text h1 {
    font-size: clamp(2rem, 1.705rem + 1.48vw, 2.813rem);
  }
}

@media (max-width: 625px) {
  .main-img {
    display: none;
  }
  .main-text {
    align-items: center;
  }
  .main-text button {
    width: 100%;
    justify-content: center;
  }
  .main-text .main-img {
    display: block;
  }
}

@media (max-width: 992px) {
  .trend-main .trend-card:last-child {
    display: none;
  }
}

@media (max-width: 745px) {
  .trend-title-img img,
  .trend-title-img h3 {
    max-width: 80px;
    height: 80px;
  }
  .trend-ava{
    width: 70px;
  }
}

@media (max-width: 498px) {
  .trend-main .trend-card:nth-child(2) {
    display: none;
  }
  .trend-main .trend-card {
    width: 100%;
  }
  .trend-main{
    flex-direction: column;
    align-items: center;
  }
}
