@media (max-width: 957px) {
  .header nav {
    display: none;
  }
  .burger-menu {
    display: flex;
  }
}

@media (max-width: 1001px) {
  .main-text h1 {
    font-size: clamp(2rem, 1.705rem + 1.48vw, 2.813rem);
  }
}

@media (max-width: 625px) {
    
  .main-img {
    display: none;
  }
  .main-text{
    align-items: center;
  }
  .main-text button{
    width: 100%;   
    justify-content: center; 
  }
  .main-text .main-img {
    display: block;
  }
}
